@import 'bootstrap';
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

main {
  font-family: 'ABeeZee', sans-serif;
}

.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  position: relative;
  min-height: 100vh;
  padding-bottom: 8rem;
}

body {
  background-color: rgb(235, 235, 235);
  font-family: 'ABeeZee', sans-serif;
}

//Header start 176 42 33
header {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid rgb(220, 214, 214);
  padding-bottom: 0.9rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
}

header nav {
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
}

ul {
  list-style: none;
}

.left-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #111;
}

.title {
  color: #111;
}

.title:hover {
  color: rgb(198, 13, 13);
  text-decoration: none;
  transition: 0.8s;
}

.right-header ul {
  display: flex;
  flex-direction: row;
  padding-top: 0.9rem;
}

.right-header li + li {
  margin-left: 0.5rem;
}

.left-header h2 {
  margin-bottom: 0;
}

.subtitle {
  padding-left: 2.5rem;
}

.btn {
  background-color: rgb(198, 13, 13);
  color: rgb(240, 240, 240);
}

.btn:hover {
  background-color: rgb(245, 6, 6);
  color: rgb(240, 240, 240);
  transition: 0.8s;
}

//header finish

/* SideNav Start */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(255, 255, 255); /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  border-right: 0.1rem solid rgb(233, 230, 230);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

/* The navigation menu links */
.sidenav .navLink {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #111;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border-bottom: 0.1rem solid rgb(233, 230, 230);
}

.sidenav .navLogo {
  padding: 0px 8px 0px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 0.1rem solid rgb(233, 230, 230);
}

.sidenav ul {
  padding-inline-start: 0;
}

.logout {
  text-align: center;
}

.about {
  display: none;
}

.about:hover {
  text-decoration: none;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  background-color: rgb(198, 13, 13);
  transition: 0.8s;
  color: white;
}
/* SideNav End */

// footer starts //
footer {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 12px;
  padding-right: 1rem;
  padding-left: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

// footer ends//

/* GamerCard Start */

.gamer-card-container {
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
}

.gamer-card {
  -webkit-box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 4.5px 4.5px 5px 5px rgba(0, 0, 0, 0.75);
  background-color: rgb(245, 245, 245);
  color: rgb(31, 31, 31);
  padding: 1rem;
  border-radius: 20px;
}

.gamercard-gamertag {
  color: rgb(198, 13, 13);
  font-weight: 1000;
}

.gamer-card-header {
  border-bottom: 0.1rem solid rgb(233, 230, 230);
  display: flex;
  flex-direction: row;
}

.gamer-card-img-container {
  display: flex;
  justify-content: center;
}

.gamer-card-img {
  border-radius: 50%;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.gamer-card-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
}

.gamer-card-gamertag {
  display: flex;
  justify-content: center;
}

.gamer-card-friends-followers {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 0.1rem solid rgb(233, 230, 230);
}

.gamer-card-footer {
  padding-top: 0.5rem;
}

/* GamerCard End */

//friends starts//

.friend-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: wrap;
}

.friend-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 4.5px 4.5px 5px 5px rgba(0, 0, 0, 0.75);
  color: rgb(31, 31, 31);
  background-color: rgb(245, 245, 245);
  width: 15rem;
  margin: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 30px;
}

.friend-card-img {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.friend-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.friendAvatar {
  border-radius: 50%;
}

.friend-gt {
  color: rgb(198, 13, 13);
  font-weight: 1000;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-content: center;
}
//friends end//

//achievements starts//

.achievement-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.achievement-card {
  display: flex;
  flex-direction: column;
  color: rgb(31, 31, 31);
  max-width: 50rem;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.achievement-title {
  display: flex;
  flex-direction: row;
  background-color: rgb(245, 245, 245);
  align-items: center;
}

.achievement-date {
  padding-right: 1rem;
}
.achievement-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 1rem;
}

.achievement-image-container {
  position: relative;
  text-align: center;
}

.achievement-gamerscore {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: white;
}

.achievement-image {
  width: 100%;
  height: 100%;
}

.achievement-footer {
  background-color: rgb(245, 245, 245);
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid rgb(212, 213, 214);
}

.user-image {
  border-radius: 50%;
  margin: 0.8rem;
}

.achievement-gamertag {
  color: rgb(198, 13, 13);
}

//achievements end//

//messages start//

.message-cards {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}
.message-card {
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 4.5px 4.5px 5px 5px rgba(0, 0, 0, 0.75);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: rgb(31, 31, 31);
  background-color: rgb(245, 245, 245);
  border-radius: 20px;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 25rem;
}
.message-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: auto;
  border-bottom: 0.1rem solid rgb(233, 230, 230);
}

.message-sender {
  color: rgb(198, 13, 13);
}

.message-body-text {
  font-size: 15px;
  display: flex;
  justify-content: flex-start;
  padding-top: 0.5rem;
}

.message-body-text p {
  margin-block-end: 0;
}

//mesages end

//x1 games starts

.xbox-one-games-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: wrap;
}
.xbox-one-game-card {
  display: flex;
  -webkit-box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 4.5px 4.5px 5px 5px rgba(0, 0, 0, 0.75);
  color: rgb(31, 31, 31);
  background-color: rgb(245, 245, 245);
  border-radius: 20px;
  width: 33rem;
  margin: 1rem;
  padding: 1rem;
}

.xbox-one-game-achievements {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.xbox-one-game-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1rem;
  width: 100%;
}

.game-img {
  border-radius: 5%;
}

.xbox-one-game-lastPlayed {
  text-align: center;
}

.xbox-one-game-title {
  color: rgb(198, 13, 13);
  text-align: center;
}

//x1 game ends

//about me start

.about-container {
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
  align-items: center;
  margin-left: 5rem;
  margin-right: 5rem;
}

.about-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  -webkit-box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 4.5px 4.5px 5px 5px rgba(0, 0, 0, 0.75);
  color: rgb(31, 31, 31);
  background-color: rgb(245, 245, 245);
  border-radius: 20px;
}

.about-box img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutme-links {
  color: rgb(198, 13, 13);
}

.aboutme-links:hover {
  color: rgb(198, 13, 13);
}
//about box ends

// login start

.login-card-container {
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
  align-items: center;
}

.card {
  -webkit-box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 4.5px 4.5px 5px 5px rgba(0, 0, 0, 0.75);
  color: rgb(31, 31, 31);
  background-color: rgb(245, 245, 245);
  padding: 1rem;
  border-radius: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-img {
  display: flex;
  justify-content: center;
}

.login-title {
  display: flex;
  justify-content: center;
}

.login-form-group {
  position: relative;
  width: 240px;
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
}

.login-form-group input {
  border: none;
  background-color: #fff;
  display: block;
  width: 100%;
  box-sizing: border-box;
  height: 30px;
}

.login-form-group img {
  top: 0.5px;
  left: 5px;
  padding-right: 0.5rem;
}

.login-btn {
  background-color: rgb(198, 13, 13);
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-or-signup {
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
  align-items: center;
  flex-direction: column;
}

.login-page-signup {
  color: rgb(31, 31, 31);
  text-decoration: none;
}

.signup-link {
  padding-top: 0.6rem;
}

.login-page-signup:hover {
  color: rgb(198, 13, 13);
}

// login finish

//sign up page start

.signup-card-container {
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
  align-items: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-card {
  -webkit-box-shadow: 4.5px 1px 5px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4.5px 1px 5px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 4.5px 4.5px 5px 5px rgba(0, 0, 0, 0.75);
  color: rgb(31, 31, 31);
  background-color: rgb(245, 245, 245);
  padding: 1rem;
  border-radius: 20px;
}

.signup-img {
  display: flex;
  justify-content: center;
}

.signup-title {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.signup-form-group {
  position: relative;
  width: 240px;
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
}

.signup-form-group input {
  border: none;
  background-color: #fff;
  display: block;
  width: 100%;
  box-sizing: border-box;
  height: 30px;
}

.signup-form-group img {
  top: 0.5px;
  left: 5px;
  padding-right: 0.5rem;
}

.signup-btn {
  background-color: rgb(198, 13, 13);
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

//signup page finish

// user settings start

.account-settings-card {
  -webkit-box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 4.5px 4.5px 5px 5px rgba(0, 0, 0, 0.75);
  background-color: rgb(245, 245, 245);
  color: rgb(31, 31, 31);
  margin-top: 3rem;
  padding-right: 1.5rem;
  border-radius: 20px;
}

.user-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-account-img-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

//user settings finish

//instructions page start

.instructions-container {
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
  align-items: center;
}

.instructions-card {
  -webkit-box-shadow: 4.5px 1px 5px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4.5px 1px 5px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 4.5px 4.5px 5px 5px rgba(0, 0, 0, 0.75);
  color: rgb(31, 31, 31);
  background-color: rgb(245, 245, 245);
  padding: 1rem;
  border-radius: 20px;
  margin: 3rem;
}

.instructions-title {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  color: rgb(198, 13, 13);
}

.instructions-subtitle h5 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.instructions-list li + li {
  padding-top: 1rem;
}

.instructions-link {
  color: rgb(198, 13, 13);
}

.last-instruction {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 1rem;
}

// instructions page end

@media (max-width: 630px) {
  .sidenav {
    padding-top: 5px;
    width: 90px;
  }
  .sidenav .navLink {
    font-size: 12px;
  }

  .about {
    display: block;
    width: 4.5rem;
    height: 2rem;
    font-size: 8px;
    text-decoration: none;
  }

  .about:hover {
    text-decoration: none;
  }

  .about-button {
    align-items: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
  }

  .sidenav .navLogo img {
    width: 100%;
    height: 3rem;
    margin-bottom: 0.25rem;
  }
  .logout-button {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .logout {
    width: 5\3rem;
    height: 1.5rem;
    font-size: 8px;
    margin-top: 0.4rem;
  }

  .main {
    margin-left: 90px;
    overflow-x: hidden; /* Same as the width of the sidebar */
    padding-bottom: 15rem;
  }

  // friends start

  .friend-card {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    width: 11rem;
  }

  .friend-gt {
    font-size: 1.1rem;
  }

  .friendAvatar {
    width: 6rem;
    height: 6rem;
  }

  .friend-list h4 {
    font-size: 1rem;
  }

  // friends end

  //header starts
  header {
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
    padding-left: 0.5rem;
  }
  .right-header {
    display: none;
  }

  .left-header h2 {
    font-size: 22px;
    padding-right: 2rem;
  }

  .left-header small {
    padding-left: 0rem;
  }

  //header ends

  //message inbox starts

  .message-card {
    width: 12rem;
  }

  .message-header {
    flex-direction: column;
    font-size: 15px;
    align-items: unset;
  }
  .message-date {
    font-size: 12px;
  }

  .message-body-text {
    padding-top: 0.25rem;
    font-size: 12px;
  }

  //message inbox ends

  footer {
    font-size: 10px;
  }

  // Gamercard starts

  .gamer-card {
    margin: 1rem;
  }

  .gamer-card-header h4 {
    font-size: 11px;
  }

  .gamer-card-text h3 {
    font-size: 14px;
  }

  .gamer-card-gamertag h2 {
    font-size: 18px;
  }

  .gamer-card-footer h4 {
    font-size: 14px;
  }
  .gamer-card-friends-followers h4 {
    font-size: 14px;
  }

  .gamer-card-img {
    width: 100px;
    height: 100px;
  }

  .gamer-card-text img {
    width: 20px;
  }

  // Gamercard ends

  //achievements starts//
  .achievement-card {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .achievement-title {
    flex-direction: row-reverse;
    padding-left: 0.5rem;
    align-items: unset;
  }

  .achievement-text {
    flex-direction: column;
    justify-content: unset;
    font-size: 15px;
    padding-top: 0.5rem;
  }

  .achievement-gamertag {
    font-size: 15px;
  }

  .achievement-text p {
    font-size: 10px;
    margin-block-end: 0;
    margin-bottom: 0.2rem;
  }

  .achievement-date {
    font-size: 10px;
  }

  .user-image {
    width: 2.5rem;
    height: 2.5rem;
  }

  .achievement-footer {
    font-size: 11px;
    padding-left: 0.5rem;
  }

  .achievement-gamerscore {
    font-size: 12px;
  }

  .achievement-gamerscore img {
    width: 40%;
    height: 40%;
  }

  //achievements end//

  .spinner {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  //x1 games starts

  .xbox-one-game-card {
    flex-direction: column-reverse;
    align-items: center;
    padding: 0.5rem;
  }

  .xbox-one-game-title h3 {
    font-size: 20px;
  }

  .xbox-one-game-achievements p {
    font-size: 12px;
  }

  .xbox-one-game-achievements img {
    width: 1.5rem;
    height: 1.5rem;
  }

  .xbox-one-game-info {
    padding-left: 0;
  }

  .xbox-one-game-lastPlayed {
    font-size: 12px;
  }

  .game-img {
    width: 8rem;
    height: 8rem;
  }

  //x1 game ends

  //about me starts

  .about-container {
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 0.8rem;
  }

  .about-box img {
    width: 100%;
    height: 100%;
  }

  //about me ends

  //login starts

  .card {
    margin: 1rem;
  }

  //login ends
}

@media (min-width: 631px) and (max-width: 715px) {
  .right-header {
    display: none;
  }

  .left-header {
    padding-top: 0.9rem;
  }

  header {
    padding-bottom: 1.2rem;
  }
}
