@import 'bootstrap';
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

main {
  margin-left: 160px; /* Same as the width of the sidebar */
  position: relative;
  min-height: 100vh;
  padding-bottom: 8rem;
  font-family: 'ABeeZee', sans-serif;
}

body {
  background-color: rgb(240, 240, 240);
  font-family: 'ABeeZee', sans-serif;
}

//Header start 176 42 33
header {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid rgb(220, 214, 214);
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  // box-shadow: 0 0.5rem 0.5rem rgba(239, 240, 242, 0.3);
  // border-bottom: 0.1rem solid rgb(212, 213, 214);
}

header nav {
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
}

ul {
  list-style: none;
}

.left-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #111;
}

.title {
  color: #111;
}

.title:hover {
  color: rgb(198, 13, 13);
  text-decoration: none;
  transition: 0.8s;
}

.right-header ul {
  display: flex;
  flex-direction: row;
  padding-top: 0.9rem;
}

.right-header li + li {
  margin-left: 0.5rem;
}

.left-header h2 {
  margin-bottom: 0;
}

.subtitle {
  padding-left: 2.5rem;
}

.btn {
  background-color: rgb(198, 13, 13);
  color: rgb(240, 240, 240);
}

.btn:hover {
  background-color: rgb(245, 6, 6);
  color: rgb(240, 240, 240);
  transition: 0.8s;
}

//header finish

/* SideNav Start */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(255, 255, 255); /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  border-right: 0.1rem solid rgb(233, 230, 230);
  -webkit-box-shadow: 0 4px 5px -5px black;
  -moz-box-shadow: 0 4px 5px -5px black;
  box-shadow: 0 4px 5px -5px black;
}

/* The navigation menu links */
.sidenav .navLink {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #111;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border-bottom: 0.1rem solid rgb(233, 230, 230);
}

.sidenav .navLogo {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #111;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border-bottom: 0.1rem solid rgb(233, 230, 230);
}

.sidenav ul {
  padding-inline-start: 0;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  background-color: rgb(198, 13, 13);
  transition: 0.8s;
  color: white;
}
/* SideNav End */

// footer starts //
footer {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 12px;
  padding-right: 1rem;
  padding-left: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

// footer ends//

/* GamerCard Start */

.gamer-card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: wrap;
  padding-top: 7rem;
}

.gamer-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: rgb(31, 31, 31);
  color: rgb(240, 240, 240);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 2.5rem;
  border-radius: 20px;
}

.gamer-card img {
  padding-right: 1rem;
  border-radius: 50%;
}

.gamer-card-text {
  display: flex;
  flex-direction: row;
}

.gamer-card-text-first-item {
  padding-right: 1rem;
}

/* GamerCard End */

//friends starts//

.friend-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: wrap;
}

.friend-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: rgb(31, 31, 31);
  color: rgb(240, 240, 240);
  width: 15rem;
  margin: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-radius: 30px;
}

.friend-card-img {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.friendAvatar {
  border-radius: 50%;
}
//friends end//

//achievements starts//

.achievement-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.achievement-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: white;
  max-width: 50rem;
}

.achievement-title {
  display: flex;
  flex-direction: row;
  background-color: rgb(31, 31, 31);
  align-items: center;
}

.achievement-date {
  padding-right: 1rem;
}
.achievement-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 1rem;
}

.achievement-image-container {
  position: relative;
  text-align: center;
}

.achievement-gamerscore {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
}

.achievement-image {
  width: 100%;
  height: 100%;
}

.achievement-footer {
  background-color: rgb(31, 31, 31);
  padding-left: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid rgb(212, 213, 214);
}

.user-image {
  border-radius: 50%;
  padding: 0.8rem;
}

//achievements end//

//messages start//

.message-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  padding-top: 0rem;
  margin-top: 3rem;
  border-width: auto;
  background-color: rgb(31, 31, 31);
  color: white;
  border-radius: 20px;
}
.message-text {
  padding-top: 0.8rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2.9rem;
}

.message-img {
  padding-top: 1.1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.message-item-text {
  float: left;
  width: 50%;
}

.date {
  display: flex;
  justify-content: flex-end;
}

.message-body-text {
  font-size: 12px;
}

//mesages end

//x1 games starts

.xbox-one-game-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  margin-left: 7rem;
  margin-right: 7rem;
  margin-top: 5rem;
  background-color: rgb(31, 31, 31);
  color: white;
  border-radius: 20px;
}

.xbox-one-game-card img {
  padding-right: 1rem;
  border-radius: 50%;
  margin-right: 4rem;
}

.xbox-one-game-info {
  font-size: 20px;
  margin-top: 1rem;
}

//x1 game ends
.about-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  margin-left: 6rem;
  margin-right: 7rem;
  margin-top: 5rem;
  background-color: rgb(31, 31, 31);
  color: white;
}

.about-box img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 24rem;
  padding-bottom: 0em;
}
//about box starts

//about box ends

@media (max-width: 500px) {
  .sidenav {
    padding-top: 15px;
    width: 100px;
  }
  .sidenav .navLink {
    font-size: 12px;
  }
  main {
    margin-left: 100px;
    overflow-x: hidden; /* Same as the width of the sidebar */
  }

  //header starts
  header {
    padding-bottom: 0.96rem;
    padding-top: 1rem;
    margin-right: 0rem;
  }

  .left-header h2 {
    font-size: 22px;
    padding-right: 3rem;
  }

  .left-header small {
    padding-left: 0rem;
  }
  //header ends

  //footer starts
  footer {
    font-size: 9px;
  }
  //footer ends

  //gamercard starts
  // .gamer-card {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   justify-content: center;
  //   padding-top: 5rem;
  // }

  // .gamer-name-score {
  //   font-size: 18px;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  // }

  // .gamer-tag {
  //   font-size: 20px;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  // }

  // .gamer-card-ff {
  //   font-size: 15px;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  // }

  // .bio-location {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  // }

  // .followers {
  //   padding-right: 0.5rem;
  // }

  // .friends {
  //   padding-right: 0.5rem;
  // }

  // .avatar {
  //   width: 50%;
  //   height: 10rem;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   padding-left: 1.4rem;
  // }
  //gamercard ends

  //message inbox starts

  .message-card {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .message-body-text {
    font-size: 12px;
    margin-top: 2.3rem;
  }

  .message-item-text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
  }

  .sender {
    padding-left: 1.5rem;
  }

  .date {
    padding-left: 3.6rem;
  }

  .message-img {
    width: 10rem;
    height: 10rem;
  }

  //message inbox ends
}

@media (max-width: 675px) {
  .app {
    display: none;
  }

  footer {
    font-size: 10px;
  }

  //message start
  .message-card {
    margin-left: 0.1rem;
    margin-right: 0.1rem;
  }
  .message-body-text {
    font-size: 12px;
    margin-top: 2.3rem;
  }

  .message-item-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .sender {
    padding-left: 0.1rem;
  }

  .date {
    padding-left: 3.6rem;
  }

  .message-img {
    width: 10rem;
    height: 10rem;
  }
  //message ends

  //x1 games starts
  .xbox-one-game-card {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
  }

  .xbox-one-game-card img {
    width: 10em;
    height: 10em;
    margin-right: 1rem;
    padding-left: 1rem;
  }

  .xbox-one-game-info {
    font-size: 12px;
  }
  //x1 games end
}

@media (max-width: 540px) {
  .message-card {
    margin-left: 0.1rem;
    margin-right: 0.1rem;
  }

  .message-body-text {
    font-size: 10px;
    margin-top: 2.3rem;
  }

  .message-item-text {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 850px) {
  .message-item-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .message-body-text {
    font-size: 12px;
    margin-top: 2.3rem;
  }
}

@media (max-width: 740px) {
  .gamer-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
  }

  .gamer-name-score {
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2rem;
  }

  .gamer-tag {
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .gamer-card-ff {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bio-location {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .followers {
    padding-right: 0.5rem;
  }

  .friends {
    padding-right: 0.5rem;
  }

  .avatar {
    width: 13rem;
    height: 13rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1.4rem;
  }

  //gamercard ends

  //message starts
  .message-item-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .message-body-text {
    font-size: 12px;
    margin-top: 2.3rem;
  }
  //message ends

  //friend starts
  .friend-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  //friend ends
}

@media (min-width: 1000px) {
  // .achievement {
  //   display: flex;
  //   flex-direction: column;
  //   padding: 1rem;
  //   justify-content: center;
  //   color: white;
  //   position: fixed;
  //   align-items: center;
  // }
  // .achievement-image {
  //   max-width: 50rem;
  //   max-height: 50rem;
  // }
}
